USE [master]
GO
/****** Object:  Database [SysDtAcc]    Script Date: 2022-04-06 9:57:49 ******/
CREATE DATABASE [SysDtAcc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SysDtAcc_Data', FILENAME = N'D:\DtAnToolsAcc\SysDtAcc_Data.MDF' , SIZE = 5440KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'SysDtAcc_log', FILENAME = N'D:\DtAnToolsAcc\SysDtAcc_Log.LDF' , SIZE = 768KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SysDtAcc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SysDtAcc]
GO
/****** Object:  SqlAssembly [Regex]    Script Date: 2022-04-06 9:57:49 ******/
CREATE ASSEMBLY [Regex]
FROM 0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C010300B388F95A0000000000000000E00002210B010B00000A00000006000000000000DE2900000020000000400000000000100020000000020000040000000000000006000000000000000080000000020000000000000300608500001000001000000000100000100000000000001000000000000000000000008C2900004F000000004000004803000000000000000000000000000000000000006000000C000000542800001C0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E74657874000000E409000000200000000A000000020000000000000000000000000000200000602E72737263000000480300000040000000040000000C0000000000000000000000000000400000402E72656C6F6300000C0000000060000000020000001000000000000000000000000000004000004200000000000000000000000000000000C0290000000000004800000002000500B4200000A007000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000008603281200000A2D130217731300000A03281400000A6F1500000A2A72010000702A7603281200000A2D0F0217731300000A0304281600000A2A72010000702A6203281200000A2D0E0217731300000A03281700000A2A162A1E02281800000A2A00000042534A4201000100000000000C00000076342E302E33303331390000000005006C000000A0020000237E00000C0300003C03000023537472696E6773000000004806000004000000235553004C0600001000000023475549440000005C0600004401000023426C6F620000000000000002000001471500000900000000FA25330016000001000000180000000200000004000000070000001800000011000000010000000300000000000A0001000000000006004C00450006009D0083000600C800B6000600DF00B6000600FC00B60006001B01B60006003401B60006004D01B60006006801B60006008301B6000600BB019C010600CF019C010600DD01B6000600F601B6000600260213023F003A0200000600690249020600890249020A00CE02B3020600E30245000E001703F8020E001D03F8020E005300F8020E002A03F8020000000001000000000001000100010010001F002B00050001000100502000000000960053000A00010072200000000096005900100003009020000000009600610017000600A92000000000861869001D000800000001006F00000002007500000001006F00000002007500000003007B00000001006F00000002007500110069002100190069002100210069002100290069002100310069002100390069002100410069002100490069002100510069002100590069002600610069002100690069002100710069002100790069002B00890069003100910069001D00990069001D00A100EA023B00A90069004000A90053004700C10032034D00A90059005100A90061005700090069001D0020008B0036002E003300A6002E003B00C2002E00830023012E001300A6002E001B00BC002E002300BC002E002B00BC002E005300BC002E000B005C002E004300BC002E006B0004012E007B001A012E005B00DA002E007300110140008B00360060008B0036000480000001000000000000000000000000002B00000004000000000000000000000001003C00000000000400000000000000000000000100A70200000000040000000000000000000000010045000000000000000000003C4D6F64756C653E004D5353514C5265676578457874656E642E646C6C005265676578457874656E64004D5353514C5265676578457874656E64006D73636F726C69620053797374656D004F626A656374004D61746368005265706C6163650049734D61746368002E63746F7200726567657800696E707574007265706C6163650053797374656D2E52756E74696D652E56657273696F6E696E67005461726765744672616D65776F726B4174747269627574650053797374656D2E5265666C656374696F6E00417373656D626C795469746C6541747472696275746500417373656D626C794465736372697074696F6E41747472696275746500417373656D626C79436F6E66696775726174696F6E41747472696275746500417373656D626C79436F6D70616E7941747472696275746500417373656D626C7950726F6475637441747472696275746500417373656D626C79436F7079726967687441747472696275746500417373656D626C7954726164656D61726B41747472696275746500417373656D626C7943756C747572654174747269627574650053797374656D2E52756E74696D652E496E7465726F70536572766963657300436F6D56697369626C65417474726962757465004775696441747472696275746500417373656D626C7956657273696F6E41747472696275746500417373656D626C7946696C6556657273696F6E4174747269627574650053797374656D2E446961676E6F73746963730044656275676761626C6541747472696275746500446562756767696E674D6F6465730053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300436F6D70696C6174696F6E52656C61786174696F6E734174747269627574650052756E74696D65436F6D7061746962696C6974794174747269627574650053797374656D2E44617461004D6963726F736F66742E53716C5365727665722E5365727665720053716C46756E6374696F6E41747472696275746500537472696E670049734E756C6C4F72456D7074790053797374656D2E546578742E526567756C617245787072657373696F6E730052656765780052656765784F7074696F6E730043617074757265006765745F56616C756500000100006ADCAAE35E5D1445BC05FDABCEFBF2020008B77A5C561934E0890500020E0E0E0600030E0E0E0E050002020E0E03200001042001010E042001010205200101114104200101080401000000040001020E062002010E1159052001125D0E0320000E0520020E0E0E042001020E4901001A2E4E45544672616D65776F726B2C56657273696F6E3D76342E350100540E144672616D65776F726B446973706C61794E616D65122E4E4554204672616D65776F726B20342E35150100104D5353514C5265676578457874656E64000005010000000017010012436F7079726967687420C2A920203230313800002901002434393334366437372D333832392D343836312D616133312D39303335666130643662306600000C010007312E302E302E3000000801000200000000000801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F777301000000000000B388F95A00000000020000001C01000070280000700A000052534453ACAB69EDE50A8C4293E65CF7321D861B01000000663A5CEFBCA5E68F92E4BBB65C4323E887AAE588B6E68F92E4BBB65C53514C52656765784D617463685C4D5353514C5265676578457874656E645C6F626A5C52656C656173655C4D5353514C5265676578457874656E642E70646200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000B42900000000000000000000CE290000002000000000000000000000000000000000000000000000C0290000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C0000000000FF25002000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000100100000001800008000000000000000000000000000000100010000003000008000000000000000000000000000000100000000004800000058400000F00200000000000000000000F00234000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100000001000000000000000100000000003F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B00450020000010053007400720069006E006700460069006C00650049006E0066006F0000002C02000001003000300030003000300034006200300000004C0011000100460069006C0065004400650073006300720069007000740069006F006E00000000004D005300530051004C005200650067006500780045007800740065006E00640000000000300008000100460069006C006500560065007200730069006F006E000000000031002E0030002E0030002E00300000004C001500010049006E007400650072006E0061006C004E0061006D00650000004D005300530051004C005200650067006500780045007800740065006E0064002E0064006C006C00000000004800120001004C006500670061006C0043006F007000790072006900670068007400000043006F0070007900720069006700680074002000A90020002000320030003100380000005400150001004F0072006900670069006E0061006C00460069006C0065006E0061006D00650000004D005300530051004C005200650067006500780045007800740065006E0064002E0064006C006C0000000000440011000100500072006F0064007500630074004E0061006D006500000000004D005300530051004C005200650067006500780045007800740065006E00640000000000340008000100500072006F006400750063007400560065007200730069006F006E00000031002E0030002E0030002E003000000038000800010041007300730065006D0062006C0079002000560065007200730069006F006E00000031002E0030002E0030002E003000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000C000000E03900000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
WITH PERMISSION_SET = SAFE
GO
/****** Object:  Table [dbo].[Dict_type]    Script Date: 2022-04-06 9:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dict_type](
	[dict_type_id] [char](32) NOT NULL,
	[dict_type_name_cn] [varchar](40) NULL,
	[dict_type_name_en] [varchar](20) NULL,
	[dict_type_sort] [int] NULL,
	[dict_type_memo] [varchar](100) NULL,
 CONSTRAINT [PK_Dict_type] PRIMARY KEY CLUSTERED 
(
	[dict_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dict_val]    Script Date: 2022-04-06 9:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dict_val](
	[dict_val_id] [char](32) NOT NULL,
	[dict_type_id] [char](32) NULL,
	[dict_val] [varchar](80) NULL,
	[dict_lable] [varchar](60) NULL,
	[dict_val_memo] [varchar](100) NULL,
	[dict_val_sort] [int] NULL,
 CONSTRAINT [PK_dict_val] PRIMARY KEY CLUSTERED 
(
	[dict_val_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[src_column]    Script Date: 2022-04-06 9:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[src_column](
	[col_Id] [char](32) NOT NULL,
	[tab_id] [char](32) NOT NULL,
	[col_name_cn] [varchar](80) NULL,
	[col_name_en] [varchar](40) NULL,
	[col_type] [varchar](10) NULL,
	[col_all_len] [int] NULL,
	[col_dot_len] [int] NULL,
	[col_index] [char](1) NULL,
	[col_rept] [char](1) NULL,
	[col_Dict] [char](32) NULL,
	[col_date_deal] [char](1) NULL,
	[col_xls_loc] [varchar](120) NULL,
	[col_reg] [varchar](60) NULL,
	[col_reg_str] [varchar](80) NULL,
	[col_reg_ok] [char](1) NULL,
	[col_memo] [varchar](60) NULL,
	[col_sort] [int] NOT NULL,
 CONSTRAINT [PK__Data_src__57826CAF97BB8194] PRIMARY KEY CLUSTERED 
(
	[col_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[src_table]    Script Date: 2022-04-06 9:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[src_table](
	[tab_id] [char](32) NOT NULL,
	[tab_name_cn] [varchar](80) NULL,
	[tab_name_en] [varchar](40) NULL,
	[tab_memo] [varchar](255) NULL,
	[tab_XLS] [char](1) NULL,
	[tab_TXT] [char](1) NULL,
	[chn_col] [char](1) NULL,
	[GloImp] [char](1) NULL,
	[tab_sort] [int] NOT NULL,
 CONSTRAINT [PK__tb_Data___3213E83F47E2C020] PRIMARY KEY CLUSTERED 
(
	[tab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_proj]    Script Date: 2022-04-06 9:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_proj](
	[proj_id] [int] IDENTITY(1,1) NOT NULL,
	[proj_no] [varchar](20) NOT NULL,
	[proj_name] [varchar](60) NOT NULL,
	[proj_database] [char](17) NOT NULL,
	[proj_memo] [varchar](256) NULL,
	[proj_ver] [char](1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[X_Menus]    Script Date: 2022-04-06 9:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[X_Menus](
	[t_id] [int] NOT NULL,
	[t_parent_id] [int] NULL,
	[t_name] [varchar](50) NULL,
	[t_memo] [varchar](200) NULL,
	[t_para] [varchar](300) NULL,
	[t_proc] [text] NULL,
	[t_right] [varchar](20) NULL,
	[t_order] [int] NULL,
	[t_sort] [varchar](12) NULL,
	[t_auto] [char](1) NULL,
	[t_hide] [char](1) NULL,
	[t_type] [char](1) NULL,
	[isClass] [char](1) NULL,
 CONSTRAINT [PK_X_Menus] PRIMARY KEY CLUSTERED 
(
	[t_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[X_Users]    Script Date: 2022-04-06 9:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[X_Users](
	[ManagerName] [varchar](40) NOT NULL,
	[ManagerLevel] [varchar](8) NOT NULL,
	[ManagerPassWord] [varchar](20) NULL,
	[ManagerFullName] [varchar](50) NULL,
	[ManagerInfor] [varchar](50) NULL,
 CONSTRAINT [PK_X_Users] PRIMARY KEY CLUSTERED 
(
	[ManagerName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Dict_type] ([dict_type_id], [dict_type_name_cn], [dict_type_name_en], [dict_type_sort], [dict_type_memo]) VALUES (N'00AC51EC13E84DD58305BD4552351A59', N'商行交易现转标识', N'Cash_flag', 28, NULL)
INSERT [dbo].[Dict_type] ([dict_type_id], [dict_type_name_cn], [dict_type_name_en], [dict_type_sort], [dict_type_memo]) VALUES (N'0E6C155BB1C74DBE8239611349A9FC65', N'账户系统账户状态', NULL, 8, NULL)
INSERT [dbo].[Dict_type] ([dict_type_id], [dict_type_name_cn], [dict_type_name_en], [dict_type_sort], [dict_type_memo]) VALUES (N'12AC273A920C419F8F6762454D8923FE', N'账户系统开户许可证种类', NULL, 20, NULL)
GO
INSERT [dbo].[dict_val] ([dict_val_id], [dict_type_id], [dict_val], [dict_lable], [dict_val_memo], [dict_val_sort]) VALUES (N'012FDB3272994D8583EA4461B63FB0E5', N'1755F3765A8843E78759A3C125EF198E', N'5', N'外国公民', NULL, 5)
INSERT [dbo].[dict_val] ([dict_val_id], [dict_type_id], [dict_val], [dict_lable], [dict_val_memo], [dict_val_sort]) VALUES (N'032724A68C8141F6AADA2545B30D9644', N'40680A30B5494981AE4D3DB29487683B', N'7', N'临时机构临时存款账户', NULL, 7)
INSERT [dbo].[dict_val] ([dict_val_id], [dict_type_id], [dict_val], [dict_lable], [dict_val_memo], [dict_val_sort]) VALUES (N'03717526144D4E0FBAA59E3D3D82DFEE', N'9707EC69270F4C89A6381371872CA034', N'09', N'主管部门批文', NULL, 8)
GO
INSERT [dbo].[src_column] ([col_Id], [tab_id], [col_name_cn], [col_name_en], [col_type], [col_all_len], [col_dot_len], [col_index], [col_rept], [col_Dict], [col_date_deal], [col_xls_loc], [col_reg], [col_reg_str], [col_reg_ok], [col_memo], [col_sort]) VALUES (N'030F237892EA4699B796B5B2F12E70A2', N'1B4F24E52C0A428791412BC3FD6E9CE7', NULL, NULL, N'varchar', NULL, NULL, N'0', N'0', NULL, N'0', NULL, NULL, NULL, N'0', NULL, 12)
INSERT [dbo].[src_column] ([col_Id], [tab_id], [col_name_cn], [col_name_en], [col_type], [col_all_len], [col_dot_len], [col_index], [col_rept], [col_Dict], [col_date_deal], [col_xls_loc], [col_reg], [col_reg_str], [col_reg_ok], [col_memo], [col_sort]) VALUES (N'03B977BE3F9E46258DBA4E0BE6D2AC8B', N'1B4F24E52C0A428791412BC3FD6E9CE7', NULL, NULL, N'varchar', NULL, NULL, N'0', N'0', NULL, N'0', NULL, NULL, NULL, N'0', NULL, 21)
INSERT [dbo].[src_column] ([col_Id], [tab_id], [col_name_cn], [col_name_en], [col_type], [col_all_len], [col_dot_len], [col_index], [col_rept], [col_Dict], [col_date_deal], [col_xls_loc], [col_reg], [col_reg_str], [col_reg_ok], [col_memo], [col_sort]) VALUES (N'04BA162BC7E64462BC88114A3700581F', N'6AD26ACD3C53485DB7D27469C1A1D916', N'账户状态', N'AccState', N'varchar', 10, NULL, N'0', N'0', N'0E6C155BB1C74DBE8239611349A9FC65', N'0', NULL, NULL, NULL, N'0', NULL, 45)
GO
INSERT [dbo].[src_table] ([tab_id], [tab_name_cn], [tab_name_en], [tab_memo], [tab_XLS], [tab_TXT], [chn_col], [GloImp], [tab_sort]) VALUES (N'1B4F24E52C0A428791412BC3FD6E9CE7', N'商行个人账户表', N'tb_BankAccPers', NULL, N'0', N'1', N'1', N'0', 5)
INSERT [dbo].[src_table] ([tab_id], [tab_name_cn], [tab_name_en], [tab_memo], [tab_XLS], [tab_TXT], [chn_col], [GloImp], [tab_sort]) VALUES (N'6AD26ACD3C53485DB7D27469C1A1D916', N'账户系统单位银行账户表', N'tb_PbcUnit', NULL, N'0', N'1', N'1', N'0', 1)
INSERT [dbo].[src_table] ([tab_id], [tab_name_cn], [tab_name_en], [tab_memo], [tab_XLS], [tab_TXT], [chn_col], [GloImp], [tab_sort]) VALUES (N'74D66668108540EB88C8F24674331553', N'商行余额表', N'tb_BankAmoutUnit', NULL, N'1', N'0', N'1', N'0', 3)
GO
INSERT [dbo].[X_Menus] ([t_id], [t_parent_id], [t_name], [t_memo], [t_para], [t_proc], [t_right], [t_order], [t_sort], [t_auto], [t_hide], [t_type], [isClass]) VALUES (1, 0, N'函数前自动运行', N'隐藏 此类功能用于在程序中后台调用，不在用户界面出现。每个功能前必须有数字代码，在程序中调用。', N'', NULL, NULL, 1000, N'11', N'0', N'0', N'1', N'1')
INSERT [dbo].[X_Menus] ([t_id], [t_parent_id], [t_name], [t_memo], [t_para], [t_proc], [t_right], [t_order], [t_sort], [t_auto], [t_hide], [t_type], [isClass]) VALUES (2, 1, N'clr运行允许设置2019', N'与程序及相关的函数定义的序号应大于本序号使本过程限制性', N'', N'CREATE PROCEDURE  P_clr_run  WITH ENCRYPTION AS
BEGIN
exec (''sp_configure ''+''''''show advanced options''''''+'', 1'') 
reconfigure
exec (''sp_configure ''+''''''clr strict security''''''+'', 0'') 
reconfigure
exec (''sp_configure ''+''''''clr enabled''''''+'', 1'')
reconfigure
--获取安装路径（dll与数据库目录所在路径）
DECLARE @Path NVARCHAR(MAX)
DECLARE @ReversedPath NVARCHAR(MAX)
DECLARE @PathLength INT
declare @Pathname NVARCHAR(MAX)
set @path=(select top 1 physical_name from sys.database_files where physical_name like ''%.mdf'')
-- @path = ''D:\Inspection\SysDtAcc.mdf''
SET @ReversedPath = REVERSE(@Path)
-- @ReversedPath = ''fdm.syslxnh\noitcepsnI\:D''
SELECT @PathLength = CHARINDEX(''\'', @ReversedPath)
--  @PathLength = 12
set @Path= LEFT(@Path, LEN(@Path) - @PathLength)

-- SET @ReversedPath = REVERSE(@Path)
-- set @PathLength = CHARINDEX(''\'', @ReversedPath)
-- set @pathname = LEFT(@Path, LEN(@Path) - @PathLength)

set @Pathname = @Path+''\MSSQLRegexExtend.dll''
--注册程序集以使用正则表达式 
--CREATE ASSEMBLY Regex from ''D:\Inspection\MSSQLRegexExtend.dll'' WITH PERMISSION_SET = SAFE
if not exists(select * from sys.assemblies where name=''Regex'')
begin
  EXEC(''CREATE ASSEMBLY Regex from ''+''''''''+@Pathname+''''''''+'' WITH PERMISSION_SET = SAFE'')    
  RECONFIGURE         --设置可用clr组件。别忘记运行这行进行应用  
end 
select ''OK''
END
GO', N'2019', 1001, N'1101', N'1', N'0', N'1', NULL)
INSERT [dbo].[X_Menus] ([t_id], [t_parent_id], [t_name], [t_memo], [t_para], [t_proc], [t_right], [t_order], [t_sort], [t_auto], [t_hide], [t_type], [isClass]) VALUES (3, 1, N'clr运行允许设置2014', N'功能描述：', N'', N'CREATE PROCEDURE  P_clr_run  WITH ENCRYPTION AS
BEGIN
exec (''sp_configure ''+''''''show advanced options''''''+'', 1'') 
reconfigure
--exec (''sp_configure ''+''''''clr strict security''''''+'', 0'') 
--reconfigure
exec (''sp_configure ''+''''''clr enabled''''''+'', 1'')
reconfigure
--获取安装路径（数据库目录所在路径）
DECLARE @Path NVARCHAR(MAX)
DECLARE @ReversedPath NVARCHAR(MAX)
DECLARE @PathLength INT
declare @Pathname NVARCHAR(MAX)
set @path=(select top 1 physical_name from sys.database_files where physical_name like ''%.mdf'')
SET @ReversedPath = REVERSE(@Path)
SELECT @PathLength = CHARINDEX(''\'', @ReversedPath)
set @Path= LEFT(@Path, LEN(@Path) - @PathLength)
SET @ReversedPath = REVERSE(@Path)
set @PathLength = CHARINDEX(''\'', @ReversedPath)
set @pathname = LEFT(@Path, LEN(@Path) - @PathLength)
set @Pathname = @Pathname+''\MSSQLRegexExtend.dll''
--注册.net类库 
--CREATE ASSEMBLY Regex from ''D:\Inspection\MSSQLRegexExtend.dll'' WITH PERMISSION_SET = SAFE
if not exists(select * from sys.assemblies where name=''Regex'')
begin
  EXEC(''CREATE ASSEMBLY Regex from ''+''''''''+@Pathname+''''''''+'' WITH PERMISSION_SET = SAFE'')    
  RECONFIGURE         --设置可用clr组件。别忘记运行这行进行应用  
end 
select ''OK''
END
GO', N'2014', 1002, N'1102', N'0', N'0', N'1', N'0')
INSERT [dbo].[X_Menus] ([t_id], [t_parent_id], [t_name], [t_memo], [t_para], [t_proc], [t_right], [t_order], [t_sort], [t_auto], [t_hide], [t_type], [isClass]) VALUES (4, 1, N'压缩系统数据库提升性能', N'压缩系统数据库提升性能', N'', N'CREATE PROCEDURE   P_Shirink_SysDtAcc  WITH ENCRYPTION AS
BEGIN
declare @dbname varchar(20)
set  @dbname=''SysDtAcc''
begin try
  exec(''DBCC SHRINKDATABASE([''+@dbname+''])'')
  select @dbname
end try
begin catch
  SELECT ''系统数据库已经压缩过了！''AS 数据库压缩情况;
end catch
END', NULL, 1003, N'1103', N'0', N'0', N'1', N'0')
INSERT [dbo].[X_Menus] ([t_id], [t_parent_id], [t_name], [t_memo], [t_para], [t_proc], [t_right], [t_order], [t_sort], [t_auto], [t_hide], [t_type], [isClass]) VALUES (5, 1, N'压缩当前数据库提升性能', N'压缩当前数据库提升性能', N'', N'CREATE PROCEDURE   P_Shirink_Cur_data  WITH ENCRYPTION AS
BEGIN
declare @dbname varchar(20)
set  @dbname=(Select Name From Master..SysDataBases Where DbId=(Select Dbid From Master..SysProcesses Where Spid = @@spid))
begin try
  exec(''DBCC SHRINKDATABASE([''+@dbname+''])'')
  select @dbname
end try
begin catch
  SELECT ''当前数据库已经压缩过了！''AS 数据库压缩情况;
end catch
END', NULL, 1004, N'1104', N'0', N'0', N'1', N'0')
INSERT [dbo].[X_Menus] ([t_id], [t_parent_id], [t_name], [t_memo], [t_para], [t_proc], [t_right], [t_order], [t_sort], [t_auto], [t_hide], [t_type], [isClass]) VALUES (6, 0, N'函数定义', N'', N'', N'CREATE PROCEDURE      AS
BEGIN

END
GO', NULL, 2000, N'12', N'0', N'0', N'1', N'1')
INSERT [dbo].[X_Menus] ([t_id], [t_parent_id], [t_name], [t_memo], [t_para], [t_proc], [t_right], [t_order], [t_sort], [t_auto], [t_hide], [t_type], [isClass]) VALUES (7, 6, N'字符串分割到临时表', N'select id from ufn_SplitStringToTable(''01,02,03,04'','','')返回一个表可用于1个参数的多个内容', N'', N'CREATE FUNCTION ufn_SplitStringToTable(@str VARCHAR(MAX),@split VARCHAR(10))
RETURNS TABLE WITH ENCRYPTION
    AS
RETURN
    ( SELECT B.id
      FROM ( SELECT [value] = CONVERT(XML , ''<v>'' + REPLACE(@str , @split , ''</v><v>'')+ ''</v>'')
                ) A
      OUTER APPLY ( SELECT  id = N.v.value(''.'' , ''varchar(100)'')
                    FROM    A.[value].nodes(''/v'') N ( v )
                ) B
    )
-- 2019使用string_split（）函数', N'2014', 2006, N'1203', N'1', N'0', N'1', N'0')
INSERT [dbo].[X_Menus] ([t_id], [t_parent_id], [t_name], [t_memo], [t_para], [t_proc], [t_right], [t_order], [t_sort], [t_auto], [t_hide], [t_type], [isClass]) VALUES (8, 6, N'去除前导字符串函数', N'f_delete_head(''00123'',''0'')返回123', N'', N'CREATE FUNCTION f_delete_head(@s varchar(8000),@flag varchar(10)) returns varchar(8000) WITH ENCRYPTION as
BEGIN
declare @i int
select @i=1
while (@i<=len(@s))
begin
if (substring(@s,@i,len(@flag) )<>@flag)
begin
break
end
select @i=@i+len(@flag)
end
return right(@s,len(@s)-@i+1)
end', NULL, 2006, N'1202', N'1', N'0', N'1', NULL)
INSERT [dbo].[X_Menus] ([t_id], [t_parent_id], [t_name], [t_memo], [t_para], [t_proc], [t_right], [t_order], [t_sort], [t_auto], [t_hide], [t_type], [isClass]) VALUES (9, 6, N'字符串查找重复数量', N'FN_DupChar(''11000000'',6)返回1表明存在6个连续的字符，FN_DupChar(''1100'',6)返回0表明不存在6个连续的字符，', N'', N'CREATE  Function FN_DupChar(@String Varchar(100),@char_num int) Returns Bit WITH ENCRYPTION As
BEGIN
Declare @Temp Table(Chr Varchar(2))
Declare @i Int ,@j Int
Select @i = 1, @j = 0
While @i <= Len(@String)
Begin
Insert Into @Temp Select Substring(@String,@i,1)
Select @i = @i + 1
End
If Exists(Select 1 From @Temp Group By Chr Having Count(*) >= @char_num)
Begin
Set @j = 1
End
Return @j
End

', NULL, 2004, N'1201', N'1', N'0', N'1', N'0')
INSERT [dbo].[X_Menus] ([t_id], [t_parent_id], [t_name], [t_memo], [t_para], [t_proc], [t_right], [t_order], [t_sort], [t_auto], [t_hide], [t_type], [isClass]) VALUES (10, 6, N'正则匹配', N'', N'', N'CREATE FUNCTION [Regex.Match](@Regex [nvarchar](max),@Input [nvarchar](max))  
RETURNS [nvarchar](max) WITH EXECUTE AS CALLER
AS   
EXTERNAL NAME [Regex].[MSSQLRegexExtend.RegexExtend].[Match]  
 --正则匹配(匹配不为空，不匹配为空)
--SELECT [dbo].[Regex.Match](''\d+'',''abcdefghijkl'') 不能匹配, 
--[dbo].[Regex.Match](''\d+'',''0123456789'') 能匹配
go ', NULL, 2014, N'1207', N'1', N'0', N'1', NULL)
INSERT [dbo].[X_Menus] ([t_id], [t_parent_id], [t_name], [t_memo], [t_para], [t_proc], [t_right], [t_order], [t_sort], [t_auto], [t_hide], [t_type], [isClass]) VALUES (11, 6, N'正则替换', N'', N'', N'CREATE FUNCTION [Regex.Replace](@Regex [nvarchar](max),@Input [nvarchar](max),@Replace [nvarchar](max))  
RETURNS [nvarchar](max) WITH EXECUTE AS CALLER  
AS   
EXTERNAL NAME [Regex].[MSSQLRegexExtend.RegexExtend].[Replace]  
--正则替换(将数字替换成空)
-- SELECT [dbo].[Regex.Replace](''[0-9]'', ''a12b12c'', '''')  [将数字干掉],
-- [dbo].[Regex.Replace](''[a-z]'', ''a12b12c'', ''*'')  [将字母替换*]
go', NULL, 2012, N'1206', N'1', N'0', N'1', NULL)
INSERT [dbo].[X_Menus] ([t_id], [t_parent_id], [t_name], [t_memo], [t_para], [t_proc], [t_right], [t_order], [t_sort], [t_auto], [t_hide], [t_type], [isClass]) VALUES (12, 6, N'正则校验', N'', N'', N'CREATE FUNCTION [Regex.IsMatch](@Regex [nvarchar](max),@Input [nvarchar](max)) 
 --程序集定义后才能成功，函数定义要加中括号
RETURNS [bit] WITH EXECUTE AS CALLER 
AS   
EXTERNAL NAME [Regex].[MSSQLRegexExtend.RegexExtend].[IsMatch] 
--正则校验(符合为1，不符合为0)
-- SELECT [dbo].[Regex.IsMatch](''^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$'',''dyuanrong2010@163.com'') 符合验证,
  --[dbo].[Regex.IsMatch](''^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$'',''dyuanrong2010@163com'') 不符合验证
GO', NULL, 2010, N'1205', N'1', N'0', N'1', NULL)
INSERT [dbo].[X_Menus] ([t_id], [t_parent_id], [t_name], [t_memo], [t_para], [t_proc], [t_right], [t_order], [t_sort], [t_auto], [t_hide], [t_type], [isClass]) VALUES (13, 6, N'身份证检验码', N'', N'', N'Create function getCheckCode(@SFZH char(18))
Returns char(1)
WITH ENCRYPTION
As
Begin
  declare @r char(1)
  declare @i int
  if len(@SFZH) <> 18
    set @r = ''?''
  else
    set @i = cast(substring(@SFZH,1,1) as int) * 7
    +cast(substring(@SFZH,2,1) as int) * 9
    +cast(substring(@SFZH,3,1) as int) * 10
      +cast(substring(@SFZH,4,1) as int) * 5
      +cast(substring(@SFZH,5,1) as int) * 8
      +cast(substring(@SFZH,6,1) as int) * 4
      +cast(substring(@SFZH,7,1) as int) * 2
      +cast(substring(@SFZH,8,1) as int) * 1
      +cast(substring(@SFZH,9,1) as int) * 6
      +cast(substring(@SFZH,10,1) as int) * 3
      +cast(substring(@SFZH,11,1) as int) * 7
      +cast(substring(@SFZH,12,1) as int) * 9
      +cast(substring(@SFZH,13,1) as int) * 10
      +cast(substring(@SFZH,14,1) as int) * 5
      +cast(substring(@SFZH,15,1) as int) * 8
      +cast(substring(@SFZH,16,1) as int) * 4
      +cast(substring(@SFZH,17,1) as int) * 2
  set @i = @i - @i/11 * 11
  set @r = (case @i
  when 0 then ''1'' when 1 then ''0'' when 2 then ''X'' when 3 then ''9''
  when 4 then ''8'' when 5 then ''7'' when 6 then ''6'' when 7 then ''5''
  when 8 then ''4'' when 9 then ''3'' when 10 then ''2'' else ''/'' end)
  Return(@r)
End', NULL, 2019, N'1211', N'1', N'0', N'1', NULL)
INSERT [dbo].[X_Menus] ([t_id], [t_parent_id], [t_name], [t_memo], [t_para], [t_proc], [t_right], [t_order], [t_sort], [t_auto], [t_hide], [t_type], [isClass]) VALUES (14, 6, N'身份证地区校验6位', N'校验6位地区（速度较慢）', N'', N'CREATE function checkArea6
(
@area varchar(6)
)
returns varchar(8000)
WITH ENCRYPTION
as
BEGIN
declare @result varchar(8000)
if @area in (select distinct  编码 from SysDtAcc.dbo.AreaCodeOldNew )
   begin
      set @result=(select 地名 from SysDtAcc.dbo.AreaCodeOldNew where 编码=@area)
	  return @result
   end
return ''''
END
GO', NULL, 2016, N'1208', N'1', N'0', N'1', NULL)
INSERT [dbo].[X_Menus] ([t_id], [t_parent_id], [t_name], [t_memo], [t_para], [t_proc], [t_right], [t_order], [t_sort], [t_auto], [t_hide], [t_type], [isClass]) VALUES (15, 6, N'身份证年龄', N'', N'', N'Create function getYears(@SFZH char(18))
Returns char(1)
WITH ENCRYPTION
As
Begin
  declare @r char(1)
  declare @i int
  if len(@SFZH) <> 18
    set @r = ''?''
  else
    set @i = cast(substring(@SFZH,1,1) as int) * 7
    +cast(substring(@SFZH,2,1) as int) * 9
    +cast(substring(@SFZH,3,1) as int) * 10
      +cast(substring(@SFZH,4,1) as int) * 5
      +cast(substring(@SFZH,5,1) as int) * 8
      +cast(substring(@SFZH,6,1) as int) * 4
      +cast(substring(@SFZH,7,1) as int) * 2
      +cast(substring(@SFZH,8,1) as int) * 1
      +cast(substring(@SFZH,9,1) as int) * 6
      +cast(substring(@SFZH,10,1) as int) * 3
      +cast(substring(@SFZH,11,1) as int) * 7
      +cast(substring(@SFZH,12,1) as int) * 9
      +cast(substring(@SFZH,13,1) as int) * 10
      +cast(substring(@SFZH,14,1) as int) * 5
      +cast(substring(@SFZH,15,1) as int) * 8
      +cast(substring(@SFZH,16,1) as int) * 4
      +cast(substring(@SFZH,17,1) as int) * 2
  set @i = @i - @i/11 * 11
  set @r = (case @i
  when 0 then ''1'' when 1 then ''0'' when 2 then ''X'' when 3 then ''9''
  when 4 then ''8'' when 5 then ''7'' when 6 then ''6'' when 7 then ''5''
  when 8 then ''4'' when 9 then ''3'' when 10 then ''2'' else ''/'' end)
  Return(@r)
End
GO', NULL, 2020, N'1212', N'1', N'0', N'1', NULL)
INSERT [dbo].[X_Menus] ([t_id], [t_parent_id], [t_name], [t_memo], [t_para], [t_proc], [t_right], [t_order], [t_sort], [t_auto], [t_hide], [t_type], [isClass]) VALUES (16, 6, N'身份证号检验', N'参数：身份证号,地区校验位数', N'', N'CREATE FUNCTION VerifyPerID
(@idcard VARCHAR(60), --身份证号码 
 @sf     VARCHAR(1) --校验地区，6，全地名，2仅校验省份（速度快些），4仅校验省份和城市
)
RETURNS VARCHAR(8000) --返回信息
WITH ENCRYPTION
AS
     BEGIN
         DECLARE @year_i INT;
         DECLARE @regex_s VARCHAR(240);
 --首先判断身份证号是否为空
         IF @idcard IS NULL
            OR LEN(@idcard) = 0
             RETURN ''身份证号为空'';

--首先判断身份证号位数
         IF(LEN(@idcard) <> 15
            AND LEN(@idcard) <> 18)
             RETURN ''身份证位数错'';
--首先校验地区
         IF @sf = ''6''
             BEGIN
                 IF LEN(dbo.checkArea6(@idcard)) = 0
                     RETURN ''身份证地区错'';
             END;
         IF @sf = ''4''
             BEGIN
                 IF LEN(dbo.checkArea4(@idcard)) = 0
                     RETURN ''身份证地区错'';
             END;
         IF @sf = ''2''
             BEGIN
                 IF LEN(dbo.checkArea2(@idcard)) = 0
                     RETURN ''身份证省份错'';
             END;
--正则表达式校验 
--若是15位
         IF(LEN(@idcard) = 15)
             BEGIN
      --闰年：被4整除并且不能被100整除或者可以被400整除
                 SET @year_i = CAST(SUBSTRING(@idcard, 7, 2) AS INT) + 1900;
                 IF @year_i % 4 = 0
                    AND @year_i % 100 <> 0
                    OR @year_i % 400 = 0 --是润年，--出生日期的合法性正则表达式
                     SET @regex_s = ''[1-9][0-9]{5}[0-9]{2}((01|03|05|07|08|10|12)(0[1-9]|[1-2][0-9]|3[0-1])|(04|06|09|11)(0[1-9]|[1-2][0-9]|30)|02(0[1-9]|[1-2][0-9]))[0-9]{3}$'';
                     ELSE
                 SET @regex_s = ''[1-9][0-9]{5}[0-9]{2}((01|03|05|07|08|10|12)(0[1-9]|[1-2][0-9]|3[0-1])|(04|06|09|11)(0[1-9]|[1-2][0-9]|30)|02(0[1-9]|1[0-9]|2[0-8]))[0-9]{3}$'';
                 IF dbo.[Regex.IsMatch](@regex_s, @idcard) = 0
                     RETURN ''身份证字符或日期错'';
             END;
         IF(LEN(@idcard) = 18)
             BEGIN
      --闰年：被4整除并且不能被100整除或者可以被400整除
                 SET @year_i = CAST(SUBSTRING(@idcard, 7, 4) AS INT);
                 IF @year_i % 4 = 0
                    AND @year_i % 100 <> 0
                    OR @year_i % 400 = 0 --是润年，--出生日期的合法性正则表达式
                     SET @regex_s = ''[1-9][0-9]{5}(19[0-9]{2}|20[0-9]{2})((01|03|05|07|08|10|12)(0[1-9]|[1-2][0-9]|3[0-1])|(04|06|09|11)(0[1-9]|[1-2][0-9]|30)|02(0[1-9]|[1-2][0-9]))[0-9]{3}[0-9Xx]$'';
                     ELSE
                 SET @regex_s = ''[1-9][0-9]{5}(19[0-9]{2}|20[0-9]{2})((01|03|05|07|08|10|12)(0[1-9]|[1-2][0-9]|3[0-1])|(04|06|09|11)(0[1-9]|[1-2][0-9]|30)|02(0[1-9]|1[0-9]|2[0-8]))[0-9]{3}[0-9Xx]$'';
                 IF dbo.[Regex.IsMatch](@regex_s, @idcard) = 0
                     RETURN ''身份证字符或日期错''; 
--检查第18位的校验和
                 DECLARE @sum CHAR;
                 SET @sum = '''';
                 SELECT @sum = dbo.getCheckCode(@idcard);
                 IF(@sum <> SUBSTRING(@idcard, 18, 1))
                     RETURN ''身份证校验位错'';
             END;
         RETURN ''正确'';
     END;
GO
', NULL, 2022, N'1213', N'1', N'0', N'1', NULL)
INSERT [dbo].[X_Menus] ([t_id], [t_parent_id], [t_name], [t_memo], [t_para], [t_proc], [t_right], [t_order], [t_sort], [t_auto], [t_hide], [t_type], [isClass]) VALUES (17, 6, N'当前日期字符串', N'', N'@提示1!参数类型1:默认值1@提示2!参数类型2:默认值2', N'Create function getCurDate()
Returns varchar(8)
WITH ENCRYPTION
As
Begin
declare @date varchar(8)
set @date=CONVERT(varchar(100), GETDATE(), 112) 
Return(@date)
End
GO', NULL, 2008, N'1204', N'1', N'0', N'1', NULL)
INSERT [dbo].[X_Menus] ([t_id], [t_parent_id], [t_name], [t_memo], [t_para], [t_proc], [t_right], [t_order], [t_sort], [t_auto], [t_hide], [t_type], [isClass]) VALUES (18, 6, N'身份证地区校验2位', N'仅校验省份', N'', N'CREATE function checkArea2
(
@area varchar(2)
)
returns varchar(8000)
WITH ENCRYPTION
as
BEGIN
declare @result varchar(8000)
if @area in (select distinct  left(编码,2) from SysDtAcc.dbo.AreaCodeSF )
   begin
      set @result=(select 地名 from SysDtAcc.dbo.AreaCodeSF where left(编码,2) = @area)
	  return @result
   end
return ''''
END
GO', NULL, 2018, N'1210', N'1', N'0', N'1', NULL)
INSERT [dbo].[X_Menus] ([t_id], [t_parent_id], [t_name], [t_memo], [t_para], [t_proc], [t_right], [t_order], [t_sort], [t_auto], [t_hide], [t_type], [isClass]) VALUES (19, 6, N'身份证地区校验4位', N'仅校验省份和城市', N'', N'CREATE function checkArea4
(
@area varchar(4)
)
returns varchar(8000)
WITH ENCRYPTION
as
BEGIN
declare @result varchar(8000)
if @area in (select distinct  left(编码,4) from SysDtAcc.dbo.AreaCodeSFCS )
   begin
      set @result=(select 地名 from SysDtAcc.dbo.AreaCodeSFCS where left(编码,4) = @area)
	  return @result
   end
return ''''
END
GO', NULL, 2017, N'1209', N'1', N'0', N'1', NULL)
INSERT [dbo].[X_Menus] ([t_id], [t_parent_id], [t_name], [t_memo], [t_para], [t_proc], [t_right], [t_order], [t_sort], [t_auto], [t_hide], [t_type], [isClass]) VALUES (20, 6, N'一对一相似度', N'功能描述：', N'', N'CREATE FUNCTION [FN_Resemble_onebyone] (@Cloumna NVARCHAR(MAX), @Cloumnb NVARCHAR(MAX))
RETURNS FLOAT
WITH ENCRYPTION
AS
BEGIN
    DECLARE @num FLOAT,@len int
    SET @Cloumna=ISNULL(@Cloumna,0)
    SET @Cloumnb=ISNULL(@Cloumnb,0)
    SET @len=1
    SET @num=0
    WHILE(LEN(@Cloumna)<>0 AND LEN(@CloumnB)<>0)
    BEGIN
    DECLARE @a NVARCHAR(4)
    DECLARE @b NVARCHAR(4)
        IF(LEN(@Cloumna)>=LEN(@CloumnB))
        BEGIN
            WHILE(@len<=LEN(@CloumnB))
            BEGIN
                
                SET @a=''''
                SET @a=SUBSTRING(@Cloumna,@len,1)
                SET @b=''''
                SET @b=SUBSTRING(@CloumnB,@len,1)
                IF(@a=@b)
                BEGIN
                SET @num=@num+1
                END
            SET  @len=@len+1   
            END
        END
        ELSE IF    (LEN(@Cloumna)<LEN(@CloumnB))
        BEGIN
            WHILE(@len<=LEN(@Cloumna))
                BEGIN
                    SET @a=''''
                    SET @a=SUBSTRING(@Cloumna,@len,1)
                    SET @b=''''
                    SET @b=SUBSTRING(@CloumnB,@len,1)
                    IF(@a=@b)
                    BEGIN
                        SET @num=@num+1
                    END
                SET  @len=@len+1   
            END
        
        END
    SET @num=@num*1.0/LEN(@Cloumna)
    BREAK
    END
    RETURN @num
END
GO', NULL, 2023, N'1214', N'1', N'0', N'1', NULL)
INSERT [dbo].[X_Menus] ([t_id], [t_parent_id], [t_name], [t_memo], [t_para], [t_proc], [t_right], [t_order], [t_sort], [t_auto], [t_hide], [t_type], [isClass]) VALUES (21, 6, N'身份证年龄', N'', N'', N'CREATE FUNCTION [Fn_GetAge]
(@IdCard     NVARCHAR(18),
 @LimitdDate NVARCHAR(8)
)
RETURNS INT
WITH ENCRYPTION
AS
     BEGIN
       DECLARE @BirthYear VARCHAR(4);
       DECLARE @BirthMonth VARCHAR(2);
       DECLARE @BirthDay VARCHAR(2);
       DECLARE @BirthDate DATETIME;
       DECLARE @BirthDateStr NVARCHAR(10);
       DECLARE @Age INT;
       DECLARE @Length INT;
       SET @Age = 0;
  BEGIN
    SET @BirthDateStr = '''';
    SET @BirthDate = NULL;
    SET @Length = LEN(@IdCard);
    IF(@Length = 15)
      BEGIN
        SET @BirthYear = (''19''+SUBSTRING(@IdCard, 7, 2));
        SET @BirthMonth = SUBSTRING(@IdCard, 9, 2);
        SET @BirthDay = SUBSTRING(@IdCard, 11, 2);
      END;
      ELSE
    IF(@Length = 18)
      BEGIN
        SET @BirthYear = SUBSTRING(@IdCard, 7, 4);
        SET @BirthMonth = SUBSTRING(@IdCard, 11, 2);
        SET @BirthDay = SUBSTRING(@IdCard, 13, 2);
      END;
    IF(@BirthYear > 1919)
      BEGIN
            --2月份的时间
        IF((@BirthYear % 4 = 0
            OR @BirthYear % 100 != 0)
           OR (@BirthYear % 400 = 0)) --闰年
          BEGIN
            IF(@BirthMonth = 2)
              BEGIN
                IF(@BirthDay > 0
                   AND @BirthDay <= 29)
                  BEGIN
                    SET @BirthDateStr = @BirthYear+''-''+@BirthMonth+''-''+@BirthDay;
                  END;
              END;
          END;
          ELSE
          BEGIN
            IF(@BirthMonth = 2)
              BEGIN
                IF(@BirthDay > 0
                   AND @BirthDay <= 28)
                  BEGIN
                    SET @BirthDateStr = @BirthYear+''-''+@BirthMonth+''-''+@BirthDay;
                  END;
              END;
          END;
            --1 3 5 7 8 10 12月份的处理
        IF(@BirthMonth = 1
           OR @BirthMonth = 3
           OR @BirthMonth = 5
           OR @BirthMonth = 7
           OR @BirthMonth = 8
           OR @BirthMonth = 10
           OR @BirthMonth = 12)
          BEGIN
            IF(@BirthDay > 0
               AND @BirthDay <= 31)
              BEGIN
                SET @BirthDateStr = @BirthYear+''-''+@BirthMonth+''-''+@BirthDay;
              END;
          END;
          ELSE
        IF(@BirthMonth = 4
           OR @BirthMonth = 6
           OR @BirthMonth = 9
           OR @BirthMonth = 11) --4 6 9 11月份的处理
          BEGIN
            IF(@BirthDay > 0
               AND @BirthDay <= 30)
              BEGIN
                SET @BirthDateStr = @BirthYear+''-''+@BirthMonth+''-''+@BirthDay;
              END;
          END;
        IF(@BirthDateStr != '''')
          BEGIN
            SET @BirthDate = CONVERT(DATETIME, @BirthDateStr);
            SET @Age = DATEDIFF(YEAR, @BirthDate, CONVERT(DATETIME, @LimitdDate));
            IF(DATEPART(MONTH, @BirthDate) > DATEPART(MONTH, CONVERT(DATETIME, @LimitdDate)))
              BEGIN
                SET @Age = @Age - 1;
              END;
              ELSE
            IF(DATEPART(MONTH, @BirthDate) = DATEPART(MONTH, CONVERT(DATETIME, @LimitdDate)))
              BEGIN
                IF(DATEPART(DAY, @BirthDate) > DATEPART(DAY, CONVERT(DATETIME, @LimitdDate)))
                  BEGIN
                    SET @Age = @Age - 1;
                  END;
              END;
          END;
      END;
  END;
       RETURN @Age;
     END;
GO', NULL, 2024, N'1215', N'1', N'0', N'1', NULL)
INSERT [dbo].[X_Menus] ([t_id], [t_parent_id], [t_name], [t_memo], [t_para], [t_proc], [t_right], [t_order], [t_sort], [t_auto], [t_hide], [t_type], [isClass]) VALUES (22, 6, N'两个字段顺序相似', N'', N'', N'CREATE FUNCTION FN_Resemble_order  (@Cloumna NVARCHAR(MAX),  @Cloumnb NVARCHAR(MAX) )
RETURNS FLOAT
WITH ENCRYPTION
AS
BEGIN
    DECLARE @num FLOAT,@len int
    SET @Cloumna=ISNULL(@Cloumna,0)
    SET @Cloumnb=ISNULL(@Cloumnb,0)
    SET @len=1
    SET @num=0
    WHILE(LEN(@Cloumna)<>0 AND LEN(@CloumnB)<>0)
    BEGIN
    DECLARE @a NVARCHAR(4)
    DECLARE @b NVARCHAR(4)
        IF(LEN(@Cloumna)>=LEN(@CloumnB))
        BEGIN
            WHILE(@len<=LEN(@CloumnB))
            BEGIN
                
                SET @a=''''
                SET @a=SUBSTRING(@Cloumna,@len,1)
                SET @b=''''
                SET @b=SUBSTRING(@CloumnB,@len,1)
                IF(@a=@b)
                BEGIN
                SET @num=@num+1
                END
                    ELSE
                    BEGIN
                        break
                    END
            SET  @len=@len+1   
            END
        END
        ELSE IF    (LEN(@Cloumna)<LEN(@CloumnB))
        BEGIN
            WHILE(@len<=LEN(@Cloumna))
                BEGIN
                    SET @a=''''
                    SET @a=SUBSTRING(@Cloumna,@len,1)
                    SET @b=''''
                    SET @b=SUBSTRING(@CloumnB,@len,1)
                    IF(@a=@b)
                    BEGIN
                        SET @num=@num+1
                    END
                    ELSE
                        BEGIN
                            break
                        END
                SET  @len=@len+1   
            END
        
        END
    SET @num=@num*1.0/LEN(@Cloumna)
    BREAK
    END
    RETURN @num
END
go

----测试代码
--SELECT DBO.FN_Resemble_order(''ABDC456G'',''ABDC123G'')', NULL, 2025, N'1216', N'1', N'0', N'1', NULL)
INSERT [dbo].[X_Menus] ([t_id], [t_parent_id], [t_name], [t_memo], [t_para], [t_proc], [t_right], [t_order], [t_sort], [t_auto], [t_hide], [t_type], [isClass]) VALUES (24, 0, N'函数后自动运行', N'', N'@提示1!参数类型1:默认值1@提示2!参数类型2:默认值2', N'CREATE PROCEDURE      AS
BEGIN

END
GO', NULL, 3000, N'13', N'0', N'0', N'1', N'1')
GO
INSERT [dbo].[X_Users] ([ManagerName], [ManagerLevel], [ManagerPassWord], [ManagerFullName], [ManagerInfor]) VALUES (N'admin', N'管理用户', N'474E4F4A', NULL, NULL)
GO
ALTER TABLE [dbo].[X_Menus] ADD  CONSTRAINT [DF_X_Menus_t_auto]  DEFAULT ((0)) FOR [t_auto]
GO
ALTER TABLE [dbo].[X_Menus] ADD  CONSTRAINT [DF_X_Menus_t_hide]  DEFAULT ((0)) FOR [t_hide]
GO
ALTER TABLE [dbo].[dict_val]  WITH CHECK ADD  CONSTRAINT [FK_dict_val_Dict_type] FOREIGN KEY([dict_type_id])
REFERENCES [dbo].[Dict_type] ([dict_type_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[dict_val] CHECK CONSTRAINT [FK_dict_val_Dict_type]
GO
/****** Object:  StoredProcedure [dbo].[P_dispInfo]    Script Date: 2022-04-06 9:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[P_dispInfo]   AS
BEGIN
select '模型维护已结束，可以运行模型了' as 信息提示
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'源表中文名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'src_table', @level2type=N'COLUMN',@level2name=N'tab_name_cn'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'源表英文名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'src_table', @level2type=N'COLUMN',@level2name=N'tab_name_en'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'注释' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'src_table', @level2type=N'COLUMN',@level2name=N'tab_memo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'src_table', @level2type=N'COLUMN',@level2name=N'tab_sort'
GO
USE [master]
GO
